RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^$ index.php?controller=super&method=dispatch [L]
RewriteRule ^(.*)$ index.php?controller=super&method=dispatch&url=$1 [QSA,L]

#RewriteRule ^a-propos/$ index.php?controller=content&method=aPropos [L]
#RewriteRule ^(.*)$ index.php?controller=content&method=videos&url=$1 [L,QSA]
